table{
    margin: 1.5rem 0;
    width: 100%;
    border: 1px solid $grey-2;
    border-collapse: collapse;

    th, td{
        border: 1px solid $grey-2;
        padding: .25rem .5rem;
    }

    tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th  {
        background-color: $grey-3;
    }
}



ul.archive-list{
    font-size: 1.2rem;
    list-style: none;

    li {
        margin:0 0 0.5rem 0;
    }
}